	*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}



.encabezado{
	display: flex;
	padding: 25px 35px 30px 25px;
	align-items: center;
	justify-content: space-between;	
}

h1{
	font-size: 20px;
}

.logo{
	height: 30px;
}


.contenedor{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
	justify-items: center;
	grid-auto-rows: 300px ;
	grid-gap: 	20px;
	padding: 	20px;
	

}

.conte{
	border-radius: 	100px;
	padding: 15px;
	display: flex;	
	flex-wrap: wrap;
	justify-content: center;
	background-color: 	rgb(	106, 27, 154);
	color: 	rgb(	255, 255, 255);
	align-items: 	center	;

}

img{
	
	 height: 50%;


}

a{
	width: 100%;
	text-align: center;
	text-decoration: 	none;
	color: 	rgb(	255, 255, 255);

}


a:hover {
	border-radius: 	500px;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  
}
